.about-content {
    .about-header {
        background-image: linear-gradient(to top, #a71e45, $lipstick 100%, $lipstick);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
        text-align: center;
        padding: 20px 30px;

        .img-responsive {
            margin: auto;
        }
    }
}