.about-page {
    color: $light;
    background-image: linear-gradient(to top, #a71e45, $lipstick 100%, $lipstick);
}

.about-content {
    h2 {
        opacity: 0.8;
        font-size: 14px;
    }

    header {
        .img-responsive {
            margin: auto;
        }
    }

    .about-legals {
        .button.button-clear {
            padding: 0;
            text-transform: none;
        }
    }
}

.about-footer {
    color: $aetm-blue;
    background: $light;
    padding: 30px;
    text-align: center;

    .img-responsive {
        margin: auto;
        width: 50%;
    }

    .about-aetm-social {
        font-size: 3rem;
    }
}