.code-memo-page .scroll-content {
    padding-top: 0 !important;
}

.platform-ios {
   .code-memo-page .scroll-content {
       padding-top: $cordova-ios-statusbar-padding !important;
   }
}

.code-memo-content {
    .code-memo-content-logo {
        .img-responsive {
            margin: auto;
            width: 12rem;
        }
    }


    h2 {
        font-size: 2rem;
    }

    header p {
        margin-bottom: 0;
        font-size: 1.6rem;
    }

    .lock-code {
        font-size: 10rem;
        line-height: 1.0;
        color: rgba(0, 0, 0, 0.38);
        background: #f9f9f8;
        padding: 4rem 1rem;
        text-align: center;
        letter-spacing: 1rem;
    }

    .grid .row {
        .col:first-child {
            padding-right: 8px;
        }

        .col:last-child {
            padding-left: 8px;
        }
    }
}