.code-memo-page .scroll-content {
    padding-top: 0 !important;
}

.platform-ios {
   .code-memo-page .scroll-content {
       padding-top: $cordova-ios-statusbar-padding !important;
   }
}

.code-memo-content {
    .code-memo-content-logo {
        .img-responsive {
            margin: auto;
            width: 12rem;
        }
    }


    h2 {
        font-size: 2rem;
    }

    header p {
        margin-bottom: 0;
        font-size: 1.6rem;
    }

    .lock-code {
        background: #f9f9f8;
        padding: 4rem 1rem;
        text-align: center;
    }

    .input-code {
        display: inline-block;
        text-align: center;
        margin: none;
        width: 10rem;
        color: rgba(0, 0, 0, 0.38);
        border: none;
        border-radius: 0;
        border-bottom: solid 5px rgba(0, 0, 0, 0.12);
        background: none;
        font-size: 8rem;
        line-height: 1.0;
    }
}