pie-chart {
  display: block;

  .pie-chart-container {
    height: 55px;
    width: 55px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid $black-12;
    background: $light;

    svg {
      height: 100%;
      width: 100%;
      transform: rotate(-90deg);
      border-radius: 50%;
      border: none;
      background: $light;
    }

    circle {
      fill: $light-grey;
      stroke: $light;
      stroke-width: 32;
      stroke-dasharray: 0 100;
      transition: stroke-dasharray 1s linear;
    }
  }
}
