<!-- Card loader -->
<div class="content-loader padding" *ngIf="!station">
    <ion-spinner color="lipstick"></ion-spinner>
    <p class="text-grey" padding-top>Chargement en cours...</p>
</div>

<!-- Card station details -->
<ion-grid *ngIf="station" no-padding>
    <!-- Header -->
    <ion-row class="station-card--header" align-items-center>
        <!-- Add-to-favorites button -->
        <ion-col col-auto>
            <favorites-add-icon [station]="station"></favorites-add-icon>
        </ion-col>

        <!-- Station name & distance -->
        <ion-col>
            <div class="station-name">{{ station.name }}</div>
            <div *ngIf="!isLoading" class="station-distance">à {{ station.formatedDistance }}</div>
        </ion-col>

        <!-- CB -->
        <ion-col col-auto>
            <cb-icon class="station-cb" [active]="station.payment === 'AVEC TPE'"></cb-icon>
        </ion-col>

        <!-- Maps button -->
        <ion-col col-auto>
            <direction-button [station]="station"></direction-button>
        </ion-col>
    </ion-row>

    <!-- Content -->
    <ion-row class="station-card--content" *ngIf="station.status === '0'" align-items-center>
        <ion-col>
            <!-- bikes -->
            <station-card-metric type="bike" [value]="station.bikes" class="border-right"></station-card-metric>
        </ion-col>
        <ion-col>
            <!-- docks -->
            <station-card-metric type="dock" [value]="station.docks"></station-card-metric>
        </ion-col>
    </ion-row>
    <ion-row class="station-card--dead" *ngIf="station.status !== '0'" align-items-center justify-content-center>
        <div padding>Cette station semble indisponible.<br>Tente ta chance, ou va plus loin&nbsp;!</div>
    </ion-row>

    <!-- Footer -->
    <ion-row class="station-card--footer" align-items-center>
        <ion-col>
            <div *ngIf="isLoading">Actualisation en cours...</div>
            <div *ngIf="!isLoading">Dernière mise à jour il y a {{ station.lastupd }}</div>
        </ion-col>
    </ion-row>
</ion-grid>