<!-- Card loader -->
<div class="content-loader padding" *ngIf="!station">
    <ion-spinner color="lipstick"></ion-spinner>
    <p class="text-grey" padding-top>Chargement en cours...</p>
</div>

<!-- Card station details -->
<div *ngIf="station">

    <!-- station name, uptime and CB -->
    <div class="station-card--header">
        <div class="station-fav">
            <button ion-button icon-only clear (click)="toggleFavorite()">
                <ion-icon [color]="isFavoriteStation ? 'mustard' : 'grey'" [name]="isFavoriteStation ? 'star' : 'star-outline'"></ion-icon>
            </button>
        </div>

        <div class="station-infos">
            <div>
                <div class="station-name">{{ station.name }}</div>
                <div class="station-distance">{{ formatedDistance() }}</div>
            </div>
            <div>
                <div *ngIf="!isLoaded" class="station-lastup">Actualisation en cours...</div>
                <div *ngIf="isLoaded" class="station-lastup">Il y a {{ station.lastupd }}</div>

                <div class="station-cb">
                    <img *ngIf="station.payment === 'AVEC TPE'" class="img-responsive" src="assets/img/vliller-cb.svg">
                    <img *ngIf="station.payment !== 'AVEC TPE'" class="img-responsive" src="assets/img/vliller-no-cb.svg">
                </div>
            </div>
        </div>
    </div>

    <!-- station bike/attachs -->
    <div class="station-card--content" *ngIf="station.status === '0'">
        <!-- bikes -->
        <station-card-metric type="bike" [value]="station.bikes" class="border-right"></station-card-metric>

        <!-- docks -->
        <station-card-metric type="dock" [value]="station.docks"></station-card-metric>
    </div>

    <!-- station HS -->
    <div class="station-card--content" *ngIf="station.status !== '0'">
        <p class="station-dead">Cette station semble indispoblie,<br> mais tu peux tenter ta chance un peu plus loin&nbsp;!</p>
    </div>
</div>