<ion-view view-title="{{ StationCtrl.station.name }}" class="station-view">
    <ion-nav-bar align-title="center" class="bar-assertive">
        <ion-nav-back-button class="no-text"></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="station-content">
        <div class="content-loader" ng-if="!StationCtrl.station.$loaded" ng-cloak>
            <ion-spinner icon="android" class="spinner-assertive"></ion-spinner>
        </div>

        <ion-refresher on-refresh="StationCtrl.refresh()"></ion-refresher>

        <div class="list card">
            <a ng-click="StationCtrl.navigate()" class="item item-icon-left positive">
                <i class="icon ion-navigate"></i>
                {{ StationCtrl.station.adress }}
            </a>

            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-android-bicycle"></i>
                {{ StationCtrl.station.bikes }} vélos disponibles
                <i class="icon" ng-class="{
                    'ion-alert-circled assertive': StationCtrl.station.bikes < 5
                }"></i>
            </a>

            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-flag"></i>
                {{ StationCtrl.station.attachs }} attaches libres
                <i class="icon" ng-class="{
                    'ion-alert-circled assertive': StationCtrl.station.attachs < 5
                }"></i>
            </a>

            <a ng-if="StationCtrl.station.paiement === 'AVEC_TPE'" class="item item-icon-left">
                <i class="icon ion-card"></i>
                Paiement par CB possible
            </a>
        </div>

        <p class="text-right padding-right">Il y a {{ StationCtrl.station.lastupd }}</p>

        <!-- {{ StationCtrl.station | json }} -->
    </ion-content>
</ion-view>
