$station-card-height: 154px;

.home-content {
    position: relative;
    height: 100%;

    map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: $station-card-height;
    }

    station-card {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: $station-card-height;
    }

    favorites-button {
        position: absolute;
        right: 0;
        // put it just above the station-card component
        bottom: $station-card-height;
    }
}