$station-card-height: 154px;
$favorites-button-margin: $fab-content-margin;

page-home {
    .halloween-header {
        position: absolute;
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
        background-size: cover;
        background: url('../assets/img/halloween/vliller-background-header.png');
        height: 96px;
        width: 1241px;
    }

    .header {
        .bar-button {
            opacity: 0.8;
        }

        .bar-button-menutoggle-md {
            margin: 0 0.2rem;
        }
    }

    .home-content {
        position: relative;
        height: 100%;

        map {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: $station-card-height;

            favorites-button {
                position: absolute;
                right: $favorites-button-margin;
                bottom: $favorites-button-margin;
            }
        }

        station-card {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: $station-card-height;
            background: $white;
        }
    }
}

// iPhone X safe area
// @see http://stephenradford.me/removing-the-white-bars-in-safari-on-iphone-x/
.platform-ios11 {
    $safe-area-padding-bottom: calc(constant(safe-area-inset-bottom) / 3);
    $safe-area-station-card-height: calc(154px + #{$safe-area-padding-bottom});

    page-home {
        .home-content {
            map {
                bottom: $safe-area-station-card-height;
            }

            station-card {
                height: $safe-area-station-card-height;
                padding-bottom: $safe-area-padding-bottom;
            }
        }
    }
}