// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";

// Zeplin variables
$lipstick: #e52b38;
$cranberry: #a40233;
$azure: #1e97f7;
$mustard: #d9a601;
$greenblue: #33d699;
$white: #f5f5f5;
$black-54: rgba(0, 0, 0, 0.54);
$black-87: rgba(0, 0, 0, 0.87);


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        $black-87;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
    primary:    $lipstick,
    secondary:  $azure,
    danger:     #f53d3d,
    light:      #fff,
    dark:       $black-87,
    grey:       $black-54,
    lipstick:   $lipstick,
    cranberry:  $cranberry,
    azure:      $azure,
    mustard:    $mustard,
    greenblue:  $greenblue
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
