// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
    font-family: Roboto;
    font-weight: 400;
}

.no-scroll {
    .scroll-content {
        overflow-y: hidden;
    }
}

.content-loader,
.content-offline {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-spinner,
    svg {
        width: 50px;
        height: 50px;
    }

    p {
        margin: 0;
    }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-small {
    font-size: 11px !important;
    line-height: 1 !important;
}

.text-grey {
    color: $black-54 !important;
}

.text-red {
    color: $lipstick !important;
}

.text-orange {
    color: $mustard !important;
}

.text-green {
    color: $greenblue !important;
}

.border-right {
    border-right: solid 1px rgba(0, 0, 0, 0.12);
}

// Fix missing label support on ion-fab
ion-fab {
    .fab {
        contain: initial;
    }

    button {
        box-shadow: 0 4px 10px #6b6b6b;
    }

    ion-fab-list button[ion-fab] {
        text-align: center;
        overflow: visible;

        div.label {
            position: absolute;
            right: 48px;
            background: rgba(248, 248, 248, 1);
            height: 24px;
            line-height: 16px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 5px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        }
    }

    .button-inner {
        overflow: visible;
    }
}