direction-button {
    display: block;

    .button {
        color: #9b9b9b;
        background: #f1f0f2;
        font-size: 1.2rem;
        margin: 0;

        .img-responsive {
            margin-left: 5px;
        }
    }

}