.no-padding {
    padding: 0 !important;
}

.content-loader {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .spinner svg {
        width: 50px;
        height: 50px;
    }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

// force scroll expand (avoid loader to by stuck at the top)
.scroll {
    height: 100%;
}

.bar-header {
    .title {
        padding: 15px 5px;

        .img-responsive {
            max-height: 100%;
        }
    }

    .buttons.buttons-right {
        padding-right: 5px;

        .icon:before {
            font-size: 28px !important;
            line-height: 44px !important;
        }
    }
}

.map-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .item-content {
        padding: 8px 6px;

    }

    .item-number-value {
        vertical-align: middle;
        font-size: 32px;
    }

    .lastupd {
        font-size: 10px;
    }
}

.station-unavailable {
    font-size: 26px;
    vertical-align: middle;

    .icon {
        font-size: 34px;
    }
}