<img class="img-responsive" src="assets/img/alexetmanon-logo.png">

<p>
    <a ion-text color="aetm-blue" href="http://www.alexetmanon.com" (click)="openLink('http://www.alexetmanon.com')">www.alexetmanon.com</a>
</p>

<div class="aetm-social">
    <ion-icon name="logo-twitter" (click)="openLink('https://twitter.com/a_et_m')"></ion-icon>
    <ion-icon name="logo-facebook" (click)="openLink('https://www.facebook.com/manonetalex')"></ion-icon>
    <ion-icon name="logo-github" (click)="openLink('https://github.com/alexetmanon')"></ion-icon>
</div>