/**
 * Sidemenu view
 */
.sidemenu-content {
    color: $light;
    padding: 40px;
    background-image: linear-gradient(to top, #a71e45, $lipstick 100%, $lipstick);
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 0 16px 0 rgba(0, 0, 0, 0.18);

    .sidemenu-close {
        text-align: right;
        margin: -20px -20px 0 0;
    }

    .sidemenu-header {
        text-align: center;
        padding: 10px 20px;

        .img-responsive {
            margin: auto;
        }
    }

    .sidemenu-main,
    .sidemenu-about {
        padding: 10px 0;

        h4 {
            margin-top: 5px;
            margin-bottom: 0;
            color: $light;
            font-weight: bold;
        }
    }
    .sidemenu-about {
        padding-bottom: 0;
    }

    .sidemenu-footer {
        font-size: 12px;
        line-height: 1.7;
        color: rgba(255, 255, 255, 0.7);

        a {
            font-weight: bold;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .button.button-clear {
        text-align: left;
        padding: 0;
        color: $light;
        text-transform: initial;
        font-size: 1.5rem;
        font-weight: 400;
        height: 3.4rem;

        svg, span {
            vertical-align: middle;
        }
    }

    // .button-feedback, .button-feedback:hover {
    //     border-radius: 2px;
    //     line-height: 1.4;
    //     font-size: 14px;
    //     font-weight: 500;
    //     letter-spacing: 0.5px;
    //     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    // }

    .border-bottom {
        border-bottom: solid 1px rgba(255, 255, 255, 0.7);
    }
}

// .platform-ios .sidemenu-content {
//     padding-top: 40px + $ios-statusbar-height;
// }