<ion-view view-title="VLiller" class="home-view">
    <ion-nav-bar align-title="center" class="bar-assertive">
        <ion-nav-back-button class="no-text"></ion-nav-back-button>

        <ion-nav-buttons side="right">
            <!-- <button ng-click="HomeCtrl.refresh()" class="button button-clear">
                <i class="icon ion-android-refresh"></i>
            </button> -->
            <button ng-click="HomeCtrl.activeGPS()" class="button button-clear">
                <i class="icon ion-android-locate"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="home-content">
        <div class="content-loader" ng-if="HomeCtrl.isLoading" ng-cloak>
            <ion-spinner icon="android" class="spinner-assertive"></ion-spinner>
        </div>

        <ion-refresher on-refresh="HomeCtrl.refresh()"></ion-refresher>

        <!-- map -->
        <div class="map-container" data-tap-disabled="true" ng-hide="
        HomeCtrl.isOffline ||
        HomeCtrl.isLoading">
            <ui-gmap-google-map
                center="HomeCtrl.map.center"
                zoom="HomeCtrl.map.zoom"
                options="HomeCtrl.map.options"
                control="HomeCtrl.map.control"
            >
                <ui-gmap-marker
                    ng-if="HomeCtrl.isGPSActive"
                    idkey="HomeCtrl.userMarker.id"
                    coords="HomeCtrl.userMarker.coords"
                    options="HomeCtrl.userMarker.options"
                ></ui-gmap-marker>

                <ui-gmap-markers
                    models="HomeCtrl.stations"
                    coords="'self'"
                    click="HomeCtrl.markerClick"
                    icon="'icon'"
                ></ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </ion-content>
</ion-view>
