<ion-view class="home-view" hide-back-button="true">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button class="no-text"></ion-nav-back-button>

        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-title>
        <img class="img-responsive bar-header-logo" src="assets/img/vliller-header-logo.svg">
    </ion-nav-title>

    <ion-content class="home-content" scroll="false">
        <div class="content-loader" ng-show="HomeCtrl.isLoading">
            <ion-spinner icon="android" class="spinner-assertive"></ion-spinner>
        </div>

        <!-- map -->
        <div class="map-container" data-tap-disabled="true" ng-hide="HomeCtrl.isLoading">

            <!-- every elements in the div will be display over the map layout -->
            <div id="map-canvas" class="map-canvas">

                <!-- overlay card -->
                <div class="card-container">

                <!-- station details -->
                <div class="card map-card" ng-if="HomeCtrl.activeStation">

                    <div class="content-loader padding" ng-hide="HomeCtrl.activeStation.$loaded">
                        <ion-spinner icon="android" class="spinner-assertive"></ion-spinner>
                    </div>

                    <div ng-show="HomeCtrl.activeStation.$loaded" ng-cloak>

                        <!-- station name, uptime and CB -->
                        <div class="item item-header">
                            <div class="station-name">{{ HomeCtrl.activeStation.name }}</div>
                            <div class="positive station-distance">{{ HomeCtrl.formatDistance() }}</div>

                            <p class="text-small text-grey">Il y a {{ HomeCtrl.activeStation.lastupd }}</p>

                            <!-- CB -->
                            <div class="station-cb">
                                <img ng-show="HomeCtrl.activeStation.payment === 'AVEC_TPE'" class="img-responsive" src="assets/img/vliller-cb.png">
                                <img ng-hide="HomeCtrl.activeStation.payment === 'AVEC_TPE'" class="img-responsive" src="assets/img/vliller-no-cb.png">
                            </div>
                        </div>

                        <!-- station bike/attachs -->
                        <div class="item item-content" ng-if="HomeCtrl.activeStation.status === '0'">

                            <!-- bikes -->
                            <div class="station-bikes">
                                <div class="station-number">
                                    <div class="station-number-text {{ HomeCtrl.computeColorClass(HomeCtrl.activeStation.bikes) }}">{{ HomeCtrl.activeStation.bikes }}</div>

                                    <div><img class="img-responsive" ng-src="{{ HomeCtrl.computeBikesIcon(HomeCtrl.activeStation.bikes) }}"></div>
                                </div>

                                <p ng-if="HomeCtrl.activeStation.bikes > 1" class="text-small text-grey">vélos disponibles</p>
                                <p ng-if="HomeCtrl.activeStation.bikes <= 1" class="text-small text-grey">vélo disponible</p>
                            </div>

                            <!-- docks -->
                            <div class="station-docks">
                                <div class="station-number">
                                    <div class="station-number-text {{ HomeCtrl.computeColorClass(HomeCtrl.activeStation.docks) }}">{{ HomeCtrl.activeStation.docks }}</div>

                                    <div><img class="img-responsive" ng-src="{{ HomeCtrl.computeDocksIcon(HomeCtrl.activeStation.docks) }}"></div>
                                </div>

                                <p ng-if="HomeCtrl.activeStation.docks > 1" class="text-small text-grey">places libres</p>
                                <p ng-if="HomeCtrl.activeStation.docks <= 1" class="text-small text-grey">place libre</p>
                            </div>
                        </div>

                        <!-- station HS -->
                        <div class="item item-content" ng-if="HomeCtrl.activeStation.status !== '0'">
                            <p class="station-dead">Cette station semble indispoblie,<br> mais tu peux tenter ta chance un peu plus loin&nbsp;!</p>
                        </div>
                    </div>
                </div>
                </div>

                <!-- this will be dynamically positionned -->
                <div class="floating-buttons" ng-show="HomeCtrl.activeStation.$loaded">

                    <!-- localisation -->
                    <div ng-click="HomeCtrl.updatePosition()"  class="floating-button gps-button light-bg" ng-class="{
                        'loading': HomeCtrl.isGPSLoading,
                        'positive-fill': HomeCtrl.isGPSCentered
                    }">
                        <!-- gps icon -->
                       <svg class="floating-button-icon md-icon" height="26" viewBox="0 0 24 24" width="26" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>

                       <!-- spinner -->
                       <ion-spinner icon="android" class="floating-button-spinner spinner-positive"></ion-spinner>
                    </div>

                    <!-- navigate to -->
                    <div ng-click="HomeCtrl.navigate()" class="floating-button positive-bg light-fill">
                        <!-- direction icon -->
                       <svg class="floating-button-icon md-icon" height="26" viewBox="0 0 24 24" width="26" xmlns="http://www.w3.org/2000/svg"><path d="M21.71 11.29l-9-9c-.39-.39-1.02-.39-1.41 0l-9 9c-.39.39-.39 1.02 0 1.41l9 9c.39.39 1.02.39 1.41 0l9-9c.39-.38.39-1.01 0-1.41zM14 14.5V12h-4v3H8v-4c0-.55.45-1 1-1h5V7.5l3.5 3.5-3.5 3.5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
