station-card-metric {
    display: block;
    text-align: center;
    padding: 8px 16px;

    .metric-value {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 5px;

        div {
            flex-grow: 1;
            flex-basis: 0;
        }

        .metric-value-text {
            display: inline-block;
            font-weight: 300;
            font-size: 45px;
            line-height: 1;
            margin-bottom: -4px;
            margin-left: -25px;
            margin-right: -30px;

            // hack for to put text in front of bike icon
            opacity: 0.99;
        }

        .metric-value-loader {
            margin-left: -25px;
            margin-right: -25px;

            ion-spinner,
            svg {
                width: 40px;
                height: 40px;
            }
        }

        .metric-value-icon {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    .metric-text {
        font-size: 11px;
        line-height: 1;
        color: $black-54;
        margin-bottom: 0;
    }
}