$animation-duration: 300ms;

.floating-button {
    display: block;
    width: 56px;
    height: 56px;
    padding: 15px;

    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    -webkit-animation: scale-in $animation-duration;
    animation: scale-in $animation-duration;

    // default color
    .floating-button-icon {
        fill: $grey;
    }

    // loader inside button
    .floating-button-spinner {
        display: none;
    }

    &.loading {
        .floating-button-spinner {
            display: block;
        }

        .floating-button-icon {
            display: none;
        }
    }
}

@-webkit-keyframes scale-in {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}