<ion-fab #fab [ngClass]="{'favorites-list-active': isOpened}">
    <button ion-fab color="mustard" (click)="toggleIsOpened()">
        <img class="img-responsive" src="assets/img/vliller-button-fav-white.svg">
    </button>
    <ion-fab-list side="top">
        <button ion-fab color="mustard" *ngFor="let station of (favoriteStations | async)" (click)="favoriteClick(station)">
            <img class="img-responsive" src="assets/img/vliller-button-bike-white.svg">
            <div class="label">{{ station.name }}</div>
        </button>
    </ion-fab-list>
</ion-fab>