favorites-button {
    ion-fab {
        display: block;
        position: relative !important;
        z-index: auto;

        // TEMPORARY FIX
        & > .fab .button-inner .img-responsive {
            margin-right: -5px;
        }

        // Add label support on ion-fab
        .fab {
            contain: initial;

            .fab-close-icon {
                color: $mustard;
                background-color: $light;
            }
        }

        button {
            box-shadow: 0 4px 10px #6b6b6b;
        }

        ion-fab-list button[ion-fab] {
            text-align: center;
            overflow: visible;
            background: transparent;

            div.label {
                position: absolute;
                right: 48px;
                color: $black-87;
                background: $light;
                height: 24px;
                line-height: 16px;
                padding: 5px 8px;
                border-radius: 3px;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
            }

            pie-chart .pie-chart-container  {
                height: 40px;
                width: 40px;
                border: none;

                circle {
                    fill: $mustard;
                }
            }
        }

        .button-inner {
            overflow: visible;
        }
    }
}

// bugfix iOS
.platform-ios {
    favorites-button ion-fab-list button[ion-fab] {
        padding: 1px 6px;

        div.label {
            top: 8px;
        }
    }
}