.station-fav {
        position: relative;
        margin: -8px 0 -8px -16px;

        .button[icon-only] {
            height: 100%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }